/* SeverityToolbar.css */
.ant-btn {
    border: none;
    margin-right: 8px;
  }
  
  .ant-space-item:last-child .ant-btn {
    margin-right: 0;
  }

.severity-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add margin to the bottom */
}

.deduplication-checkbox {
  margin-left: auto;
}